In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import os
import math
import shutil
from sklearn.cluster import KMeans
from sklearn.metrics import *

import sys
sys.path.append('C:\\Users\\joo09\\Documents\\GitHub\\LIBRARY')
import model_lib as lib

In [7]:
dirlist = []

alldir = 'D:\\project\\업태별 전처리 결과'
for subdir in os.listdir(alldir) :
    if os.path.isdir(alldir + '\\' + subdir) :
        if '0_전체업태' not in subdir :
            tempdir = alldir + '\\' + subdir
            dirlist.append(tempdir)
            print(subdir)

공공행정 국방 및 사회보장 행정
교육 서비스업
금융 및 보험업
도매 및 소매업
부동산업 및 임대업
사업시설관리 및 사업지원 서비스업
숙박 및 음식점업
예술 스포츠 및 여가관련 서비스업
전문 과학 및 기술 서비스업
출판 영상 방송통신 및 정보서비스업

In [11]:
for subdir in dirlist :
    finaldir = subdir + '\\6_최종'
    model3dir = subdir + '\\model3'
    
    folderlist = []
    for folder in os.listdir(finaldir) :
        tempdir = finaldir + '\\' + folder
        if '주중' in folder :
            folderlist.append(folder)
            folderdays = folder
            osdays = tempdir
        elif '주말' in folder :
            folderlist.append(folder)
            folderends = folder
            osends = tempdir

    lib.newfolderlist(model3dir, folderlist)

    hours = []
    for i in range(1, 25) :
        hours.append(i)

    hours_extend = []
    for i in range(1, 49) :
        hours_extend.append(i)

    for excel in os.listdir(osdays) :
        os.chdir(osdays)
        temp = lib.read_excel(excel)
        temp_m2 = pd.DataFrame(columns = temp.columns)
        for index in range(temp.shape[0]) :
            total_index = temp.loc[index, :].sum()
            for cat in temp.columns :
                temp_m2.loc[index, cat] = temp.loc[index, cat] / total_index

#         print(temp.shape, temp_m2.shape)
        os.chdir(model3dir + '\\' + folderdays)
        temp_m2.to_excel(excel)

    for excel in os.listdir(osends) :
        os.chdir(osends)
        temp = lib.read_excel(excel)
        temp_m2 = pd.DataFrame(columns = temp.columns)
        for index in range(temp.shape[0]) :
            total_index = temp.loc[index, :].sum()
            for cat in temp.columns :
                temp_m2.loc[index, cat] = temp.loc[index, cat] / total_index

#         print(temp.shape, temp_m2.shape)
        os.chdir(model3dir + '\\' + folderends)
        temp_m2.to_excel(excel)
        
    print('50% done for {}'.format(subdir))
        
    df = pd.DataFrame(columns = ['excel'] + hours_extend)
    df.columns = df.columns.astype(str)
    df_num = 0

    for folder in os.listdir(model3dir) :
        tempdir = model3dir + '\\' + folder
        if '주중' in folder :
            folderdays = folder
            model3days = tempdir
        elif '주말' in folder :
            folderends = folder
            model3ends = tempdir

    for excel in os.listdir(model3days) :
        os.chdir(model3days)
        temp = lib.read_excel(excel)
        for excel2 in os.listdir(model3ends) :
            os.chdir(model3ends)
            if excel[ : -7] == excel2[ : -7] :
                excel_match = excel2
                temp2 = lib.read_excel(excel_match)
        temp.columns = temp.columns.astype(str)
        temp2.columns = temp2.columns.astype(str)

        df.loc[df_num, 'excel'] = excel[: -7]

        temp_ave = pd.DataFrame(columns = temp.columns)
        temp_ave2 = pd.DataFrame(columns = temp2.columns)

        ave_num = 0

        for cat in temp_ave.columns :
            temp_ave.loc[ave_num, cat] = temp.loc[ : , cat].mean()

        for cat in temp_ave2.columns :
            temp_ave2.loc[ave_num, cat] = temp2.loc[ : , cat].mean() 

    #     print(temp_ave)

        df.loc[df_num, '1' : '48'] = temp_ave.loc[ave_num, '1' : '24'].tolist() \
                                    + temp_ave2.loc[ave_num, '1' : '24'].tolist()
#         print('{}. {} is matched'.format(excel, excel_match))

        df_num += 1

    os.chdir(model3dir)
    df.to_excel('profile_48.xlsx')
    print(df.shape)
    print('100% done for {}'.format(subdir))

50% done for D:\project\업태별 전처리 결과\공공행정 국방 및 사회보장 행정
(9, 49)
100% done for D:\project\업태별 전처리 결과\공공행정 국방 및 사회보장 행정

C:\Users\joo09\AppData\Local\Temp/ipykernel_16392/4027605389.py:34: RuntimeWarning: invalid value encountered in double_scalars
  temp_m2.loc[index, cat] = temp.loc[index, cat] / total_index
C:\Users\joo09\AppData\Local\Temp/ipykernel_16392/4027605389.py:47: RuntimeWarning: invalid value encountered in double_scalars
  temp_m2.loc[index, cat] = temp.loc[index, cat] / total_index

50% done for D:\project\업태별 전처리 결과\교육 서비스업
(141, 49)
100% done for D:\project\업태별 전처리 결과\교육 서비스업
50% done for D:\project\업태별 전처리 결과\금융 및 보험업
(21, 49)
100% done for D:\project\업태별 전처리 결과\금융 및 보험업
50% done for D:\project\업태별 전처리 결과\도매 및 소매업
(414, 49)
100% done for D:\project\업태별 전처리 결과\도매 및 소매업
50% done for D:\project\업태별 전처리 결과\부동산업 및 임대업
(1764, 49)
100% done for D:\project\업태별 전처리 결과\부동산업 및 임대업
50% done for D:\project\업태별 전처리 결과\사업시설관리 및 사업지원 서비스업
(53, 49)
100% done for D:\project\업태별 전처리 결과\사업시설관리 및 사업지원 서비스업
50% done for D:\project\업태별 전처리 결과\숙박 및 음식점업
(343, 49)
100% done for D:\project\업태별 전처리 결과\숙박 및 음식점업
50% done for D:\project\업태별 전처리 결과\예술 스포츠 및 여가관련 서비스업
(60, 49)
100% done for D:\project\업태별 전처리 결과\예술 스포츠 및 여가관련 서비스업
50% done for D:\project\업태별 전처리 결과\전문 과학 및 기술 서비스업
(38, 49)
100% done for D:\project\업태별 전처리 결과\전문 과학 및 기술 서비스업
50% done for D:\project\업태별 전처리 결과\출판 영상 방송통신 및 정보서비스업
(121, 49)
100% done for D:\project\업태별 전처리 결과\출판 영상 방송통신 및 정보서비스업

#

In [20]:
pdir = 'D:\\project\\ami 기타\\교육서비스업\\6_최종'

allend = []
allday = []

for folder in os.listdir(pdir) :
    tempdir = pdir + '\\' + folder
    if '주말' in tempdir :
        for excel in os.listdir(tempdir) :
            os.chdir(tempdir)
            pd = lib.read_excel(excel)
            allend.append(pd.sum().sum())
    
    if '주중' in tempdir :
        for excel in os.listdir(tempdir) :
            os.chdir(tempdir)
            pd = lib.read_excel(excel)
            allday.append(pd.sum().sum())
            
            
print(sum(allend))
print(sum(allday))

156611.27265741446
770497.624242417

In [26]:
allele = pd.DataFrame(columns = ['총합', '학교', '학원'])
allele.loc[0, '총합'] = len(allday)
allele.loc[1, '총합'] = sum(allday)
allele.loc[2, '총합'] = sum(allend)

allele.index = ['데이터수', '주중', '주말']
allele

                 총합   학교   학원
데이터수             52  NaN  NaN
주중    770497.624242  NaN  NaN
주말    156611.272657  NaN  NaN

In [35]:
pdir2 = 'D:\\project\\ami 기타\\교육서비스업\\model3_clustering'
os.chdir(pdir2)
info = lib.read_excel('세대별_군집_번호.xlsx')
info

                   excel  num_cluster
0     [P.교육 서비스업(85)]_0_            0
1    [P.교육 서비스업(85)]_10_            0
2    [P.교육 서비스업(85)]_11_            0
3    [P.교육 서비스업(85)]_12_            0
4   [P.교육 서비스업(85)]_134_            0
5    [P.교육 서비스업(85)]_14_            0
6    [P.교육 서비스업(85)]_16_            0
7   [P.교육 서비스업(85)]_172_            1
8    [P.교육 서비스업(85)]_17_            0
9    [P.교육 서비스업(85)]_18_            0
10    [P.교육 서비스업(85)]_1_            0
11   [P.교육 서비스업(85)]_21_            1
12   [P.교육 서비스업(85)]_23_            0
13   [P.교육 서비스업(85)]_25_            0
14   [P.교육 서비스업(85)]_26_            0
15   [P.교육 서비스업(85)]_27_            0
16   [P.교육 서비스업(85)]_29_            0
17    [P.교육 서비스업(85)]_2_            0
18   [P.교육 서비스업(85)]_34_            0
19   [P.교육 서비스업(85)]_36_            0
20   [P.교육 서비스업(85)]_37_            0
21   [P.교육 서비스업(85)]_38_            0
22   [P.교육 서비스업(85)]_39_            0
23    [P.교육 서비스업(85)]_3_            0
24   [P.교육 서비스업(85)]_40_            0
25   [P.교육 서비스업(85)]_41_            0
26   [P.교육 서비스업(85)]_43_            0
27   [P.교육 서비스업(85)]_45_            0
28   [P.교육 서비스업(85)]_49_            0
29    [P.교육 서비스업(85)]_4_            0
30   [P.교육 서비스업(85)]_51_            1
31   [P.교육 서비스업(85)]_52_            0
32   [P.교육 서비스업(85)]_54_            0
33   [P.교육 서비스업(85)]_55_            0
34   [P.교육 서비스업(85)]_56_            0
35   [P.교육 서비스업(85)]_58_            0
36   [P.교육 서비스업(85)]_59_            0
37   [P.교육 서비스업(85)]_60_            0
38   [P.교육 서비스업(85)]_61_            0
39   [P.교육 서비스업(85)]_62_            0
40   [P.교육 서비스업(85)]_63_            0
41   [P.교육 서비스업(85)]_64_            0
42   [P.교육 서비스업(85)]_66_            0
43   [P.교육 서비스업(85)]_67_            0
44   [P.교육 서비스업(85)]_68_            0
45    [P.교육 서비스업(85)]_6_            0
46   [P.교육 서비스업(85)]_72_            1
47   [P.교육 서비스업(85)]_76_            1
48    [P.교육 서비스업(85)]_8_            0
49   [P.교육 서비스업(85)]_93_            1
50   [P.교육 서비스업(85)]_99_            1
51    [P.교육 서비스업(85)]_9_            0

In [52]:
def find_clu(temp, excel) :
    for i in range(temp.shape[0]) :
        if temp.loc[i, 'excel'] in excel :
            rst = temp.loc[i, 'num_cluster']
            
    return rst

In [57]:
pdir = 'D:\\project\\ami 기타\\교육서비스업\\6_최종'

tempday0 = []
tempend0 = []
tempday1 = []
tempend1 = []


for folder in os.listdir(pdir) :
    tempdir = pdir + '\\' + folder
    if '주말' in tempdir :
        for excel in os.listdir(tempdir) :
            if find_clu(info, excel) == 0 :
                os.chdir(tempdir)
                temp = lib.read_excel(excel)
                tempend0.append(temp.sum().sum())
    
    if '주중' in tempdir :
        for excel in os.listdir(tempdir) :
            if find_clu(info, excel) == 0 :
                os.chdir(tempdir)
                temp = lib.read_excel(excel)
                tempday0.append(temp.sum().sum())
            
for folder in os.listdir(pdir) :
    tempdir = pdir + '\\' + folder
    if '주말' in tempdir :
        for excel in os.listdir(tempdir) :
            if find_clu(info, excel) == 1 :
                os.chdir(tempdir)
                temp = lib.read_excel(excel)
                tempend1.append(temp.sum().sum())
    
    if '주중' in tempdir :
        for excel in os.listdir(tempdir) :
            if find_clu(info, excel) == 1 :
                os.chdir(tempdir)
                temp = lib.read_excel(excel)
                tempday1.append(temp.sum().sum())  
                
allele.loc['데이터수', '학원'] = len(tempday1)
allele.loc['주중', '학원'] = sum(tempday1)
allele.loc['주말', '학원'] = sum(tempend1)

allele.loc['데이터수', '학교'] = len(tempday0)
allele.loc['주중', '학교'] = sum(tempday0)
allele.loc['주말', '학교'] = sum(tempend0)

allele.index = ['데이터수', '주중(5일)', '주말(2일)']

os.chdir('C:\\Users\\joo09\\Desktop\\보낼것')
allele.to_excel('전기사용량_총합비교.xlsx')

In [58]:
allele

                   총합             학교             학원
데이터수               52             45              7
주중(5일)  770497.624242  585980.409219  184517.215023
주말(2일)  156611.272657   94296.402279   62314.870379