In [1]:
import pandas as pd
import numpy as np
import os
import sys
model1_dir = os.getcwd()
sys.path.append('C:\\Users\\joo09\\Documents\\GitHub\\main_hydrogen\\module')
import model_library as lib

print(os.listdir(os.getcwd()))

['.ipynb_checkpoints', 'anova_model_1.xlsx', 'model1_anova.xlsx', 'Untitled.ipynb', "모델1_교육연구시설_('서울특별시')iqr.xlsx", "모델1_문화및집회시설_('서울특별시')iqr.xlsx", "모델1_숙박시설_('서울특별시')iqr.xlsx", "모델1_업무시설_('서울특별시')iqr.xlsx", "모델1_판매시설_('서울특별시')iqr.xlsx"]

In [2]:

os.chdir(model1_dir)
df = pd.DataFrame(columns = ['group', 'var'])
df_num = 0

for excel in os.listdir(model1_dir) :
    if '모델1' in excel :
        temp = lib.read_excel(excel)
        temp_1 = temp.iloc[:, 0].tolist()
        temp_1.append(temp.columns[0])
        
        for var in temp_1 :
            df.loc[df_num, 'group'] = excel
            df.loc[df_num, 'var'] = var
            df_num += 1

            
df.to_excel('model1_anova.xlsx')
df

                             group       var
0     모델1_교육연구시설_('서울특별시')iqr.xlsx  0.163915
1     모델1_교육연구시설_('서울특별시')iqr.xlsx  0.165926
2     모델1_교육연구시설_('서울특별시')iqr.xlsx  0.169842
3     모델1_교육연구시설_('서울특별시')iqr.xlsx  0.171192
4     모델1_교육연구시설_('서울특별시')iqr.xlsx  0.172664
...                            ...       ...
2205    모델1_판매시설_('서울특별시')iqr.xlsx  1.666546
2206    모델1_판매시설_('서울특별시')iqr.xlsx  1.575491
2207    모델1_판매시설_('서울특별시')iqr.xlsx  1.651103
2208    모델1_판매시설_('서울특별시')iqr.xlsx  1.628649
2209    모델1_판매시설_('서울특별시')iqr.xlsx  0.700374

[2210 rows x 2 columns]